body{
    background-color: black;
}
h1{
    text-transform:uppercase;
    font-size: 2em;
}
.poster{
width:50%;
margin:10% 25%;
color:white;
font-family: "Libre Baskerville", serif;
text-align: center;
}
.motivation{
    width:100%;
    border: solid 5px white;
}